
<div class="row" >
    <div class="col-12 text-end">
        <button class="btn btn-primary" (click)="isTile = !isTile">{{isTile ? 'Tile' : 'Gride'}}</button>&nbsp;
        <button class="btn btn-primary" (click)="toggleData()">{{isAlldata ? 'All Tickets' : 'Today Tickets'}}</button>
    </div>
</div>

<div class="row " *ngIf="!isTile">
    <div class="card text-white bg-secondary mb-3 " style="max-width: 18rem; margin-left: 10px;" *ngFor="let item of ticketList;">
      
        <div class="card-header">{{item.customerName}} <small>{{item.mobileNo}}</small></div>
        <div class="card-body">
        <h5 class="card-title">{{item.ticketDate | date:'dd-MM-YYYY'}}</h5>
        <p class="card-text">
        Adult: {{item.adultCount}} Child: {{item.childCount}}</p>
        <div class="card-fotter">
        {{item.finalAmount}}</div>

        </div>
    
    </div>
</div>

<table class="table table-border" *ngIf="isTile">
    <thead>
        <tr>
            <th>Sr no</th>
            <th>Ticket Date</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Adults</th>
            <th>Childrens</th>
            <th>Final Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ticketList; let sr = index">
            <td>{{sr+1}}</td>
            <td>{{item.ticketDate | date:'dd-MM-YYYY'}}</td>
            <td>{{item.customerName}}</td>
            <td>{{item.mobileNo}}</td>
            <td>{{item.adultCount}}</td>
            <td>{{item.childCount}}</td>
            <td>{{item.finalAmount}}</td>
        </tr>
    </tbody>
</table>

